extends layout 


block content 
    style. 
        body{
        background: #F0F2F5;
        }

    h3.mt-4 Home Page
    .container
        .container.pt-4
            .p-3.bg-white.text-dark.text-center.rounded
                marquee.p-2.display-6 ERP is Running Now. Fully Fast & Secure builtin Powered by JavaScript Technology. All Deveice Supported. Stable release: 21.2.0 / December 12, 2023; License: MIT License. Operating system: Microsoft Windows, Linux, macOS, z/OS, SmartOS, FreeBSD, OpenBSD, IBM AIX.

    //- .container
    //-     .container.pt-1
    //-         .p-2.bg-dark.text-light.text-center.rounded.mt-2
    //-             marquee.p-2.display-6(behavior="", direction="") Knit & Dyeing (ERP) Development Running built on Chrome's V8 JavaScript engine. Fully Fast & Secure builtin Powered by JavaScript Technology. Version 20.10.0 LTS. Initial release: May 27, 2009 14 years ago. Stable release: 21.2.0 / November 14, 2023; 16 days ago License: MIT License. Operating system: z/OS, Linux, macOS, Microsoft Windows, SmartOS, FreeBSD, OpenBSD, IBM AIX. All Deveice Supported. After Publish this Week the Submit Domain by Google Search Engine...

    .container
        .container.pt-5
            .p-5.bg-white.text-dark.text-center
                h1.p-5.display-5  Read the stories of successful developer!