
extends layout 


block content 
    style. 
        body{
        background: #F0F2F5;
        }

    .container.mt-4
        .container.pt-4
            .p-3.bg-dark.text-light.text-center.rounded
                h6.display-6 Quality Section 