extends layout 


block content 
  style. 
    body{
      background: #F0F2F5;
    }

  .container
    .container.pt-4
      .p-3.bg-light.text-dark.text-center.rounded
        strong.fs-4(style='color: #0866FF;') Knit & Dyeing
        //- Create a new account It’s quick and easy.

  

  .container.rounded(style='width: 300px; background: #FFFFFF;') 
    h5.text-center.mt-4.p-1(style='color: ; margin: 0 0;') Create a new account 
    p.text-center(style='font-size: 16px; margin: 0 0;') It’s quick and easy.




    // Login form
    .container.d-flex.justify-content-center.align-items-center.mt-4
      form(action="/signup", method="post") 
        .mb-3 
          label(for='username', class='form-label') Username:
          input.form-control(type="text", name="username" placeholder='')
        
        .mb-3
          label(for='username', class='form-label') Email:
          input.form-control(type="email", name="email" placeholder='')
        
        .mb-3
          label(for='password', class='form-label') Password:
          input.form-control(type="password", name="password" placeholder='')

        .mb-3
          button.btn.btn.w-100.text-white.fs-5(style='background: #00A400;')(type="submit") Sign Up 

